
.mithila{
    height: 500px;
}

.rounded-circle{
    height: 350px;
}

.mi{
    height:200px;
}


.container{
    margin-top: 100px;
}

.margin{
    margin-bottom: 70px;
    margin-left:30px;
    margin-right: 30px;
}


